<% provide :title, "Contact" %>
<h1><%= t "Contact" %></h1>
<p>
  <%= t "Contact the Ruby on Rails Tutorial about the sample app at the" %>
  <a href="http://www.railstutorial.org/contact"><%= t "contact page" %></a>.
</p>
